* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  position: relative;
  background: #E5E5E5;
}

body::after {
  content: '';
  position: absolute;
  top: -70px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 545px;
  background-color: #262D33;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  background: #4592FF;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: #ffffff;
}

.button--read img {
  margin-left: 8px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header__button {
  padding: 9px 63px;
  background: #656B70;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

.header__button--mobile {
  display: none;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__item {
  margin-right: 30px;
  color: #ffffff;
  font-weight: 900;
  line-height: 20px;
}

.menu-burger {
  width: 16px;
  height: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  cursor: pointer;
}

.menu-burger__line {
  width: 100%;
  background-color: #ffffff;
  height: 1px;
}

.useful-articles {
  height: 570px;
  padding: 30px 0;
}

.useful-articles__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.useful-articles__preview {
  position: relative;
}

.useful-articles__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 415px;
  top: 55px;
  left: 55px;
}

.useful-articles__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.useful-articles__avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.useful-articles__name {
  line-height: 20px;
}

.useful-articles__prof {
  font-size: 12px;
  line-height: 15px;
  color: inherit;
  opacity: 0.4;
}

.useful-articles__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.useful-articles__tabs {
  background-color: #ffffff;
  width: 263px;
}

.useful-articles__title {
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
}

.useful-articles__item {
  position: relative;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 25px;
}

.useful-articles__item--active {
  background-color: #F5F5F5;
}

.useful-articles__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #D9DADB;
}

.useful-articles__chapter {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

.useful-articles__chapter--color-css {
  color: #3BBDC4;
}

.useful-articles__chapter--color-javascript {
  color: #4592FF;
}

.useful-articles__chapter--color-html {
  color: #AC8EE3;
}

.useful-articles__chapter--color-web-design {
  color: #FFA34D;
}

.useful-articles__text {
  max-width: 210px;
  line-height: 20px;
  color: #4B5157;
}

.info-article__chapter {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: #4592FF;
  margin-bottom: 20px;
}

.info-article__title {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  max-width: 598px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header__button {
    padding: 9px 38px;
  }
  .navbar__item {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar__item:nth-child(5), .navbar__item:nth-child(6), .navbar__item:nth-child(7), .navbar__item:nth-child(8) {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    width: 95%;
    position: relative;
  }
  .header__button {
    display: none;
  }
  .header__button--mobile {
    display: block;
  }
  .header__wrap {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 15px;
    right: 15px;
  }
  .navbar {
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 70px;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }
  .navbar__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: #fafa;
    padding-top: 20px;
    height: 120%;
  }
  .navbar__menu--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__item {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .navbar__item:nth-child(5), .navbar__item:nth-child(6), .navbar__item:nth-child(7), .navbar__item:nth-child(8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 10;
  }
}
/*# sourceMappingURL=style.css.map */