*
  box-sizing: border-box
*
  padding: 0px
  margin: 0px
  border: 0px
@font-face
  font-family: 'lato-h'
  src: url('../fonts/lato-h.eot')
  src: url('../fonts/lato-h.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato-h.woff') format('woff'),
  url('../fonts/lato-h.ttf') format('truetype')
  font-weight: normal
  font-style: normal

a:focus,
a:active
  outline: none

button
  cursor: pointer
a
  color: inherit
a,
a:visited
  text-decoration: none
a:hover
  text-decoration: none
ul li
  list-style: none
img
  vertical-align: top
  object-fit: cover
input, textarea, button, a
  outline: none
// Стили body
html
  scroll-behavior: smooth
body
  color: #000
  font-size: 14px
  font-family: 'Lato', sans-serif
  font-weight: 400
  line-height: 20px
  hyphens: auto
  position: relative
  background: #E5E5E5
  &::after
    content: ''
    position: absolute
    top: -70px
    left: 0
    z-index: -1
    width: 100%
    height: 615px
    background-color: #262D33

.container
  max-width: 1140px
  margin: 0 auto
  &-article
    max-width: 940px
    margin: 0 auto
    position: relative
.button
  background: #4592FF
  border-radius: 20px
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px 20px
  font-weight: 700
  color: $white
  min-height: 40px
  &-up
    position: absolute
    right: 50px
    bottom: 20px
  &:hover
    background: darken(#4592FF, 5)
  &--read
    img
      margin-left: 5px
.date
  cursor: pointer
  display: flex
  font-size: 12px
  line-height: 15px
  color: #939699
  mix-blend-mode: normal
  &__num
    font-size: 12px
    line-height: 15px
    margin-right: 3px
.score
  cursor: pointer
  display: flex
  align-items: center
  font-size: 12px
  line-height: 15px
  color: #939699
  img
    margin-right: 5px
.like
  cursor: pointer
  display: flex
  align-items: center
  font-size: 12px
  line-height: 15px
  color: #939699
  img
    margin-right: 5px
.time
  cursor: pointer
  color: #939699
  font-size: 12px
  line-height: 15px
.view
  cursor: pointer
  display: flex
  align-items: center
  font-size: 12px
  line-height: 15px
  color: #939699
  img
    margin-right: 5px
.invalid
  color: red
  &-subscribe
    display: flex
    flex-direction: column
    align-items: start
  &-comments
    margin-bottom: -5px
#-error
  margin: 0
  padding: 0
.thanks
  background-color: #fff
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  &__title
    font-family: $roboto
    font-size: 40px
    line-height: 50px
    text-transform: uppercase
    text-align: center
    padding: 25px 0
  &__subtitle
    display: block
    font-size: 26px
    line-height: 30px
    margin-bottom: 20px
  &__button
    margin: 0 auto
