.modal
  background-color: #262D33
  border-radius: 10px
  width: 448px
  position: fixed
  padding: 33px 58px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 111
  visibility: hidden
  opacity: 0
  &--active
    visibility: visible
    opacity: 1
  &-bg
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(#3BBDC4, 0.39)
    z-index: 110
    visibility: hidden
    opacity: 0
    &--active
      visibility: visible
      opacity: 1
  &__close
    position: absolute
    right: 17px
    top: 17px
    cursor: pointer
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: #fff
    text-transform: uppercase
    padding: 0
    text-align: center
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

  &__input
    margin-top: 15px
    width: 100%
    height: 40px
    border-radius: 10px
    padding-left: 23px
  &__message
    padding-left: 23px
    padding-top: 10px
    margin-top: 15px
    border-radius: 10px
    width: 100%
    height: 123px
  &__button
    margin-top: 15px
    border: none
    color: #fff
    cursor: pointer
  &__required
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
